.nav_cont {
  width: 100%;
  background-color: var(--secondary-bg);
  padding: 0.7rem;
}

.nav {
  width: 80%;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.list {
  display: flex;
}

.list_item{
  margin-right: 1.4rem;
  padding: 0.5rem;
  font-size: 17px;
  font-weight: 600;
}
