.home_main_cont {
  font-family: "Noto Serif", serif;
  display: grid;
  grid-template-columns: 4fr 3fr;
  /* border: 2px solid white; */
  padding: 0.5rem;
  height: 100%;
}

.home_left_cont {
  margin-top: 140px;
  margin-left: 1.5rem;
}
.home_t1 {
  margin-left: 5px;
  font-size: 35px;
  color: var(--main-font-clr);
}

.home_t2 {
  font-size: 50px;
  color: var(--secondary-clr);
}

.home_profile {
  width: 500px;
}

.social_links_cont {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  justify-content: space-between;
  /* border: 2px solid white; */
  width: 70%;
}

.social_links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 7px;
}

.social_links:hover > * {
  opacity: 0.1;
}

.social_links > * {
  margin-left: 20px;
  transition: 0.3s ease-in;
  position: relative;
  color: var(--secondary-clr);
}

.social_links > *:hover {
  opacity: 1;
}

#linkedin_ic {
  margin-bottom: 6px;
  padding: 2px;
}

#linkedin_ic:hover {
  background-color: #0a66c2;
  color: #fff;
  box-shadow: 0 0 7px 4px #0a66c2 inset, 0 0 7px 4px #0a66c2,
    0 0 7px 4px #0a66c2 inset, 0 0 7px 4px #0a66c2;
  text-shadow: 0 0 10px #0a66c2, 0 0 10px #0a66c2;
}

#twitter_ic {
  text-align: center;
  padding: 1px;
  padding-bottom: 0;
}

#twitter_ic:hover {
  background-color: #1a8cd8;
  color: #fff;
  box-shadow: 0 0 7px 4px #1a8cd8 inset, 0 0 7px 4px #1a8cd8,
    0 0 7px 4px #1a8cd8 inset, 0 0 7px 4px #1a8cd8;
  text-shadow: 0 0 10px #1a8cd8, 0 0 10px #1a8cd8;
}

#github_ic {
  padding: 1px;
  padding-bottom: 0;
}

#github_ic:hover {
  background-color: #000;
  color: #fff;
  box-shadow: 0 0 7px 4px #000 inset, 0 0 7px 4px #000, 0 0 7px 4px #000 inset,
    0 0 7px 4px #000;
  text-shadow: 0 0 10px #000, 0 0 10px #000;
}

#insta_ic {
  padding: 1px;
  padding-bottom: 0;
}

#insta_ic:hover {
  background-color: #f401c7;
  color: #fff;
  box-shadow: 0 0 7px 4px #f401c7 inset, 0 0 7px 4px #f401c7,
    0 0 7px 4px #f401c7 inset, 0 0 7px 4px #f401c7;
  text-shadow: 0 0 10px #f401c7, 0 0 10px #f401c7;
}

.resume_btn {
  margin-right: 3rem;
  padding: 9px 25px 9px 25px;
  font-size: 17px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background-color: transparent;
  color: var(--secondary-clr);
  border: 2px solid var(--main-font-clr);
  border-radius: 5px;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.resume_btn:hover {
  background-color: var(--main-font-clr-hover);
}
