@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Lato', sans-serif; */

.theme-dark {
  --primary-bg: #0d1117;
  --secondary-bg: #161b22;
  --secondary-bg1: #161b226b;
  --primary-font-clr: #e0e0e0;
  --secondary-font-clr: #58a6ff;
  --secondary-font-clr1: #08fdd8;
  --secondary-font-clr2: #fd2155;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-font-clr);
  font-family: "Lato", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--secondary-font-clr);
}
